<div class="mt-4" >
<form class="input-group mb-3" method="POST" action="/detail/upload">
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="inputGroupFile02">
    <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
  </div>
  <div class="input-group-append">
     <button class="btn btn-outline-secondary" type="submit">Upload</button>
  </div>
</form>
</div>
