<div class="mt-4" >
    <div class="container">
        <div class="row" >
            <div class="col-md-12">
                <div class="card" style="margin-top: 0%; padding: 1%;">
                    <h3 style="text-align: center;">Upload file báo</h3><hr>
                    <form action="/detail/upload" method="POST" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="file" id="file-upload" name="myFile" class="form-control-file border" multiple required>
                        </div>
                        
                        <button type="submit" class="btn btn-outline-secondary">Upload File</button>
                    </form>
                </div>                 
            </div>
        </div>
    </div>
</div>
