<div class="mt-3">
    <form method="POST" action="/article/import">
        <h3 style="text-align: center;">Import link báo</h3><hr>
        <div class="input-group">
            <textarea name="url" type="text" class="form-control" placeholder="Nhập link bài báo" multiple required></textarea>
            {{!-- <textarea name="status" type="text" class="form-control"  placeholder="Nhập trạng thái" multiple required></textarea> --}}
        </div>
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Lưu</button>
            <a href="/article/show" type="submit" class="btn btn-success">Trở lại</a>
        </div>
    </form>
</div>