<div class="mt-5">

    <form method="POST" action="/article/import">

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Nhập link đầu báo vào đây</span>
            </div>
            <textarea name="url" type="text" class="form-control" aria-label="With textarea" placeholder="Nhập link bài báo" ></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button>
        <a href="/article/show" type="submit" class="btn btn-success">Trở lại</a>
    </form>

</div>