<div class="mt-5">

    <form method="POST" action="">

        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Nhập link đầu báo vào đây</span>
            </div>
            <textarea name="link" type="text" class="form-control" aria-label="With textarea" placeholder="Nhập link bài báo" id="text_area"></textarea>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Lưu</button>

    </form>

</div>